.golden-ratio {
    h1 {font-size: 6.854rem;}
    h2 {font-size: 4.236em;}
    h3 {font-size: 2.618em;}
    h4 {font-size: 1.618em;}
    small, .font_small {font-size: 0.618em;}
}
.perfect-fifth {
    h1 {font-size: 5.063rem;}
    h2 {font-size: 3.375em;}
    h3 {font-size: 2.25em;}
    h4 {font-size: 1.5em;}
    small, .font_small {font-size: 0.667em;}
}
.augmented-fourth {
    h1 {font-size: 3.998em;}
    h2 {font-size: 2.827em;}
    h3 {font-size: 1.999em;}
    h4 {font-size: 1.414em;}
    small, .font_small {font-size: 0.707em;}
}
.perfect-fourth {
    h1 {font-size: 3.157em;}
    h2 {font-size: 2.369em;}
    h3 {font-size: 1.777em;}
    h4 {font-size: 1.333em;}
    small, .font_small {font-size: 0.75em;}
}
.major-third {
    h1 {font-size: 2.441em;}
    h2 {font-size: 1.953em;}
    h3 {font-size: 1.563em;}
    h4 {font-size: 1.25em;}
    small, .font_small {font-size: 0.8em;}
}
.minor-third {
    h1 {font-size: 2.074em;}
    h2 {font-size: 1.728em;}
    h3 {font-size: 1.44em;}
    h4 {font-size: 1.2em;}
    small, .font_small {font-size: 0.833em;}
}
.major-second {
    h1 {font-size: 1.602em;}
    h2 {font-size: 1.424em;}
    h3 {font-size: 1.266em;}
    h4 {font-size: 1.125em;}
    small, .font_small {font-size: 0.889em;}
}
.minor-second {
    h1 {font-size: 1.296em;}
    h2 {font-size: 1.215em;}
    h3 {font-size: 1.138em;}
    h4 {font-size: 1.067em;}
    small, .font_small {font-size: 0.937em;}
}

.cormorant-garamond-proza-libre {
    @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Proza+Libre:400,400i,700');
    h1, h2, h3, h4 {font-family: 'Cormorant Garamond', serif;}
    p {font-family: 'Proza Libre', sans-serif;}
}
.libre-franklin-libre-baskerville {
    @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Libre+Franklin:700');
    h1, h2, h3, h4 {font-family: 'Libre Franklin', sans-serif;}
    p {font-family: 'Libre Baskerville', serif;}
}
.trirong-rubik {
    @import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,700|Trirong:700');
    h1, h2, h3, h4 {font-family: 'Trirong', serif;}
    p {font-family: 'Rubik', sans-serif;}
}
.work-sans-taviraj {
    @import url('https://fonts.googleapis.com/css?family=Taviraj:400,400i,700|Work+Sans:700');
    h1, h2, h3, h4 {font-family: 'Work Sans', sans-serif;}
    p {font-family: 'Taviraj', serif;}
}
.eczar-gentium-basic {
    @import url('https://fonts.googleapis.com/css?family=Eczar:700|Gentium+Basic:400,400i,700');
    h1, h2, h3, h4 {font-family: 'Eczar', serif;}
    p {font-family: 'Gentium Basic', serif;}
}