<div class="grid-content">
    <form>
        <label for="type-scale-select">Type Scale:</label>
        <select id="type-scale-select" name="type-scale-select">
            <option value="golden-ratio">1.618: Golden Ratio</option>
            <option value="perfect-fifth">1.500: Perfect Fifth</option>
            <option value="augmented-fourth">1.414: Augmented Fourth</option>
            <option value="perfect-fourth" selected>1.333: Perfect Fourth</option>
            <option value="major-third">1.250: Major Third</option>
            <option value="minor-third">1.200: Minor Third</option>
            <option value="major-second">1.125: Major Second</option>
            <option value="minor-second">1.067: Minor Second</option>
        </select>
        <label for="font-pair-select">Font Pair:</label>
        <select id="font-pair-select" name="font-pair-select">
            <option value="cormorant-garamond-proza-libre">Cormorant Garamond, Proza Libre</option>
            <option value="libre-franklin-libre-baskerville">Libre Franklin, Libre Baskerville</option>
            <option value="trirong-rubik">Trirong, Rubik</option>
            <option value="work-sans-taviraj">Work Sans, Taviraj</option>
            <option value="eczar-gentium-basic">Eczar, Gentium Basic</option>
        </select>
    </form>

</div>