footer {
    text-align: center;
    ul {
        list-style: none;
        li {
            display: inline-block;
            margin-right: .5rem;
            &:last-child {
                margin-right: none;
            }
        }
    }
}